nav {
    display: flex;
    max-height: 80px;
    justify-content: space-evenly;

    padding: 5px;
max-width: 1280px;
margin: 0 auto;
align-items: center;
margin-bottom: 2.1875rem;
}

ul{
    
    list-style: none;
    display: flex;
    gap: 1.5rem;
}
li{
    cursor: pointer;
}
button{
    all: unset;
    padding: 6px 16px;
    background: rgb(127, 11, 11);
    height: 16px;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}