body{
    text-align: center;
    background-color:azure;
}
img{
    height: 30px;
}
.btn{
    height: 12.5rem;
    width: 12.5rem;
   background: #b6b0b0;
   cursor: pointer;
   border-radius: 20%;
   border: 7px solid black;
   padding: .25rem;
   margin: .5rem;
}

.btn-container{
    display: flex;
    /* gap: px; */
    flex-wrap: wrap;
    justify-content: center;
}
.pink{
    background-color:#DA5A80;
}
.blue{
    background-color:#62AAC0;
}
.orange{
    background-color: #FB9B44;
}
.purple{
    background-color: #829FF9;
}
.flash{
    background-color: white;
}
.userflash{
    background-color: green;
}

@media (max-width : 570px){
    .btn{
        height: 6rem;
        width: 6rem;
    }
}
